:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}


/* Start Sidebar */

.si {
    background-color: #f8a61a;
}

.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
    height: 100%;
}

.sidebar>h3 {
    margin-bottom: 50px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.sidebar>h3::before,
.sidebar>h3::after {
    content: "";
    background-color: black;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
}

.sidebar>h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
}

.sidebar>h3::after {
    bottom: -29px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid white;
}

.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: var(--blue-color);
    color: black;
}

.sidebar ul li a span {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

ol,
ul {
    padding-left: 0rem !important;
}

@media (max-width: 767px) {
    .sidebar {
        width: 58px;
        padding: 10px;
    }
    .sidebar>h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .sidebar>h3::before,
    .sidebar>h3::after {
        display: none;
    }
    .sidebar ul li a span {
        display: none;
    }
}

.links {
    text-decoration: none;
}


/* End Sidebar */


/* Start Friends Page */

.bottn {
    width: 80%;
    margin-left: 100px;
    height: 50px;
}

.a {
    background-color: var(--orange-color) !important;
}

.imges {
    width: 100px;
}

.friends-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 767px) {
    .friends-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.friends-page .contact {
    position: absolute;
    left: 10px;
    top: 10px;
}

.friends-page .contact i {
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    color: #666;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;
}

.friends-page .contact i:hover {
    background-color: var(--blue-color);
    color: white;
}

.friends-page .friend .icons {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.friends-page .friend .icons i {
    margin-right: 5px;
}

.friends-page .friend .icons .vip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0.2;
}


/* End Friends Page */


/* Start Projects Page */

.projects-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

@media (max-width: 767px) {
    .projects-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.projects-page .project .date {
    position: absolute;
    right: 10px;
    top: 10px;
}

.projects-page .project h4 {
    font-weight: normal;
}

.projects-page .project .team {
    position: relative;
    min-height: 80px;
}

.projects-page .project .team a {
    position: absolute;
    left: 0;
    bottom: 0;
}

.projects-page .project .team a:nth-child(2) {
    left: 25px;
}

.projects-page .project .team a:nth-child(3) {
    left: 50px;
}

.projects-page .project .team a:nth-child(4) {
    left: 75px;
}

.projects-page .project .team a:nth-child(5) {
    left: 100px;
}

.projects-page .project .team a:hover {
    z-index: 1000;
}

.projects-page .project .team img {
    border-radius: 50%;
    border: 2px solid white;
}

.projects-page .project .do {
    justify-content: flex-end;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
}

@media (max-width: 767px) {
    .projects-page .project .do {
        flex-direction: column;
    }
}

.projects-page .project .do span {
    padding: 3px 8px;
    margin-left: 5px;
    width: fit-content;
}

@media (max-width: 767px) {
    .projects-page .project .do span:not(:last-child) {
        margin-bottom: 15px;
    }
}

.projects-page .project .info {
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 15px;
}

@media (max-width: 767px) {
    .projects-page .project .info {
        flex-direction: column;
    }
}

.projects-page .project .prog {
    height: 8px;
    width: 260px;
    position: relative;
    border-radius: 6px;
}

@media (max-width: 767px) {
    .projects-page .project .prog {
        margin-bottom: 15px;
    }
}

.projects-page .project .prog span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 6px;
}


/* End Projects Page */


/* Start Content */

.content {
    overflow: hidden;
}

.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}

.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}

.head .search input:focus {
    width: 200px;
}

.head .search input:focus::placeholder {
    opacity: 0;
}

.head .icons .notification::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -5px;
}

.head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

.page h1 {
    margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.page h1::before {
    background-color: white;
    width: 120px;
}

.page h1::after {
    background-color: black;
    width: 40px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}


/* End Content */


/* Start Welcome Widget */

.welcome {
    overflow: hidden;
}

.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body>div {
    flex: 1;
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transition: 0.3s;
}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .welcome .avatar {
        margin-left: 0;
    }
    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }
}

.section1 {
    width: 98%;
    margin: auto;
}


/* End Welcome Widget */


/* start table*/

.h2-cum {
    height: 200px;
    color: #000000;
    background-color: rgb(109, 109, 224);
    text-align: center;
    margin-bottom: 10px;
    width: 32%;
}

h5 {
    padding-top: 8px;
}

.h2-cumu {
    height: 200px;
    color: #000000;
    background-color: rgb(109, 109, 224);
    text-align: center;
    margin-bottom: 10px;
    width: 32%;
    margin-left: 20px;
}

.h3 {
    color: white;
    padding-top: 40px;
}

.section2 {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section3 {
    margin-left: 120px;
}

.sec {
    margin-left: 50px;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: auto;
    margin-bottom: 100px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: var(--blue-alt-color);
    color: white;
}


/*--------------------------------*/