/* General Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--black);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

span {
    display: inline-block;
    color: #000;
}

:root {
    --black: #171717;
    --gray: #777777;
    --light-gray: #979797;
    --dark-gray: #333333;
    --lighter-gray: #f1f1f1b5;
    --footer: #262626;
    --trans: .4s all ease-in-out;
    --color1: white;
    --color2: rgb(36, 35, 35);
    --hover2: rgb(48, 46, 46);
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --green-color: #22c55e;
    --grey-color: #888;
}

::selection {
    background: var(--blue-color);
    color: #fff;
    text-shadow: 1px 1px 1px #0000008c;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--black);
}


/* Custom Styles */

.container {
    width: 80%;
    /* Main Container*/
    margin: auto;
    perspective: 600px;
}

.position-relative {
    position: relative;
    /* Position Relative*/
}

.d-block {
    display: block;
    /* Display Block */
}

.d-inline-block {
    display: inline-block;
    /* Display Inline Block */
}

.d-flex {
    display: flex;
    /* Display Flex */
}

.d-none {
    display: none;
    /* Display None */
}

.text-center {
    text-align: center;
    /* Text Center */
}

.text-right {
    text-align: right;
    /* Text Right */
}

.text-left {
    text-align: left;
    /* Text Right */
}

.lh-sm {
    line-height: 1.4;
    /* Line Height Small*/
}

.lh-mid {
    line-height: 1.7;
    /* Line Height Medium*/
}

.mr-10 {
    margin-right: 10px;
    /* Margin Right */
}

.mr-20 {
    margin-right: 20px;
    /* Margin Right */
}

.mr-30 {
    margin-right: 30px;
    /* Margin Right */
}

.mr-40 {
    margin-right: 40px;
    /* Margin Right */
}

.ml-10 {
    margin-left: 10px;
    /* Margin left */
}

.ml-20 {
    margin-left: 20px;
    /* Margin left */
}

.ml-30 {
    margin-left: 30px;
    /* Margin left */
}

.ml-40 {
    margin-left: 40px;
    /* Margin left */
}

.mx-10 {
    margin-left: 10px;
    /* Margin left-right */
    margin-right: 10px;
}

.mx-20 {
    margin-left: 20px;
    /* Margin left-right */
    margin-right: 20px;
}

.mx-30 {
    margin-left: 30px;
    /* Margin left-right */
    margin-right: 30px;
}

.mx-40 {
    margin-left: 40px;
    /* Margin left-right */
    margin-right: 40px;
}

.my-10 {
    margin-left: 10px;
    /* Margin Up-Down */
    margin-right: 10px;
}

.my-20 {
    margin-left: 20px;
    /* Margin Up-Down */
    margin-right: 20px;
}

.my-30 {
    margin-left: 30px;
    /* Margin Up-Down */
    margin-right: 30px;
}

.my-40 {
    margin-left: 40px;
    /* Margin Up-Down */
    margin-right: 40px;
}

.pd-10 {
    padding: 10px;
    /* Normal Padding */
}

.pd-20 {
    padding: 20px;
    /* Normal Padding */
}

.pd-30 {
    padding: 30px;
    /* Normal Padding */
}

.pd-40 {
    padding: 40px;
    /* Normal Padding */
}

.py-10 {
    padding-top: 10px;
    /* Up-Down Padding */
    padding-bottom: 10px;
}

.py-20 {
    padding-top: 20px;
    /* Up-Down Padding */
    padding-bottom: 20px;
}

.py-30 {
    padding-top: 30px;
    /* Up-Down Padding */
    padding-bottom: 30px;
}

.py-40 {
    padding-top: 40px;
    /* Up-Down Padding */
    padding-bottom: 40px;
}

.px-10 {
    padding-left: 10px;
    /* Right-Left Padding */
    padding-right: 10px;
}

.px-20 {
    padding-left: 20px;
    /* Right-Left Padding */
    padding-right: 20px;
}

.px-30 {
    padding-left: 30px;
    /* Right-Left Padding */
    padding-right: 30px;
}

.px-40 {
    padding-left: 40px;
    /* Right-Left Padding */
    padding-right: 40px;
}

.pl-10 {
    padding-left: 10px;
    /* Padding Left */
}

.pl-20 {
    padding-left: 20px;
    /* Padding Left */
}

.pl-30 {
    padding-left: 30px;
    /* Padding Left */
}

.pl-40 {
    padding-left: 40px;
    /* Padding Left */
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
    /* Padding Right */
}

.pr-20 {
    padding-right: 20px;
    /* Padding Right */
}

.pr-30 {
    padding-right: 30px;
    /* Padding Right */
}

.pr-40 {
    padding-right: 40px;
    /* Padding Right */
}

.pt-10 {
    padding-top: 10px;
    /* Padding Top */
}

.pt-20 {
    padding-top: 20px;
    /* Padding Top */
}

.pt-30 {
    padding-top: 30px;
    /* Padding Top */
}

.pt-40 {
    padding-top: 40px;
    /* Padding Top */
}

.pb-10 {
    padding-bottom: 10px;
    /* Padding Bottom */
}

.pb-20 {
    padding-bottom: 20px;
    /* Padding Bottom */
}

.pb-30 {
    padding-bottom: 30px;
    /* Padding Bottom */
}

.pb-40 {
    padding-bottom: 40px;
    /* Padding Bottom */
}

.fs-5 {
    font-size: 5px;
    /* Font Size */
}

.fs-15 {
    font-size: 15px;
    /* Font Size */
}

.fs-20 {
    font-size: 20px;
    /* Font Size */
}

.fs-25 {
    font-size: 25px;
    /* Font Size */
}

.fs-30 {
    font-size: 30px;
    /* Font Size */
}

.fs-35 {
    font-size: 35px;
    /* Font Size */
}

.fs-40 {
    font-size: 40px;
}

.fs-50 {
    font-size: 50px;
    /* Font Size */
}

.fs-60 {
    font-size: 60px;
}

.fw {
    font-weight: bold;
    /* Font Weight */
}

.text-uppercase {
    text-transform: uppercase;
    /* Text-Uppercase */
}

.box-shadow-sm {
    box-shadow: 0px 0px 4px 1px black;
    /* Box Shadow */
}

.trans {
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}

.creator {
    color: #28a69b;
    text-decoration: underline;
    /* For My Name In Span */
    cursor: pointer;
}

.creator:hover {
    color: #000;
    /* Hover Span */
}

img {
    width: 100%;
    vertical-align: middle;
}


/* Start Navbar Section */

nav.navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background-color: var(--blue-color);
    border-bottom: 2px solid var(--blue-color);
}

.navbar__contents {
    align-items: center;
}

.navbar__content:first-child {
    width: 15%;
    background-color: white;
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
    border-bottom: 2px solid var(--blue-color);
}

.navbar__content:last-child {
    width: 90%;
    justify-content: space-around;
}

.navbar__logo {
    padding: 10px 100px 10px 20px;
}

.subnav__links {
    width: 70%;
    justify-content: space-evenly;
}

.subnav__link {
    width: 15%;
    outline: none;
}

.subnav__link a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: relative;
    display: inline;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.subnav__link a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.subnav__link a:hover::after {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.navbar__icons svg {
    padding: 0 10px;
    color: rgb(0, 0, 0);
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.navbar__icons a:hover svg,
.subnav__link a:hover {
    color: white;
}

.navbar__icon:first-child a {
    position: relative;
}

.navbar__icon:first-child span {
    position: absolute;
    bottom: 13px;
    left: 20px;
    width: 15px;
    height: 15px;
    padding: 0 5px;
    background-color: var(--yellow);
    font-size: 10px;
    border-radius: 50%;
    color: var(--black);
}


/* End Navbar Section */


/* Start Collection Section */

.collection__content--first,
.collection__content--second,
.collection__content--third {
    display: flex;
    height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    align-items: center;
}

.collection__content--first {
    background-image: url("../Image/1\ \(1\).jpg");
}

.collection__content--second {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../Image/slide01\ \(1\).jpg");
}

.collection__content--third {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../Image/s-1.jpg");
}

.collection__title {
    font-size: 50px;
    width: 50%;
    font-weight: bold;
    padding-left: 100px;
}

.animate-slider {
    animation-name: move;
    animation-duration: 1s;
}

.collection__title span:not(span:first-child) {
    font-size: 50px;
}

.collection__title span {
    display: block;
    color: white;
}

.collection__title--size {
    font-size: 70px;
}

.intro__info {
    width: 50%;
    padding-left: 100px;
}

.intro__p {
    width: 80%;
    color: #fff;
    line-height: 1.5;
}

.equip {
    color: white;
    padding: 5px;
}

span.equip--color {
    color: var(--blue-color);
}

.collection__title button {
    width: 30%;
    height: 37px;
    background: var(--red);
    color: #fff;
    font-weight: bold;
    border: none;
    opacity: .9;
    transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
}

.collection__title button:hover {
    opacity: 1;
}

.collection-prev {
    left: 10px;
}

.collection-next {
    right: 10px;
}

.collection-nav {
    top: 50%;
    color: white;
    background: #0000005c;
    border-radius: 6px;
    padding: 25px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.collection-nav:hover {
    background-color: #000;
}

@keyframes move {
    from {
        transform: translateY(300px);
        -webkit-transform: translateY(300px);
        -moz-transform: translateY(300px);
        -ms-transform: translateY(300px);
        -o-transform: translateY(300px);
    }
    to {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}

.collection__contents {
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.collection__categories {
    overflow: hidden;
    transition: all .3s ease-in-out;
    width: 100%;
    padding-right: 20px;
    height: 250px;
}

.collection__categories:last-child {
    padding-right: 0;
}

.collection__categories button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #e1ddd9e0;
    color: #000;
    border: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.collection__categories button:hover {
    background-color: var(--red);
    color: #fff;
}

.collection__content {
    overflow: hidden;
    position: relative;
}


/* End Intro Section */


/* Start Our Programs Section */

section.our-programs {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.our-programs__title::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translatex(-50%);
    width: 50px;
    height: 5px;
    background-color: var(--blue-alt-color);
    border-radius: 1px;
}

.text-center {
    color: var(--blue-alt-color);
}

.our-programs__cards {
    justify-content: space-between;
}

.our-programs__card {
    background-color: transparent;
    width: 33.333%;
    perspective: 1000px;
    padding: 20px;
}

.our-programs__card-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.our-programs__card:hover .our-programs__card-content {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front-face {
    background-color: #bbb;
    color: var(--yellow);
    background-size: cover;
    height: 420px;
}

.back-face {
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    background-size: cover;
    height: 420px;
    display: flex;
    align-items: center;
}

.front-face,
.back-face {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../Image/istockphoto-878862950-170667a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.our-programs__card:nth-child(2) .front-face,
.our-programs__card:nth-child(2) .back-face {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../Image/blog-11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.our-programs__card:last-child .front-face,
.our-programs__card:last-child .back-face {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../Image/gal7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.back-face p {
    font-size: 15px;
    color: #b9b9b9;
}

.back-face h2 {
    color: var(--blue-alt-color);
    padding: 0px 30px;
}

.our-programs__overlay {
    position: absolute;
    top: 0%;
    background-color: #000000b3;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.our-programs__btn {
    background-color: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 13px 23px;
    font-weight: bold;
    outline: none;
    border: none;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.our-programs__btn:hover {
    background-color: #fff;
}


/* End Our Programs Section */


/* Start Packages Section */

section.packages {
    background-color: rgb(197, 195, 195);
}

.packages__title {
    color: var(--blue-alt-color);
}

.packages__title::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translatex(-50%);
    width: 50px;
    height: 5px;
    background-color: var(--blue-alt-color);
    border-radius: 1px;
}

.packages__cards {
    justify-content: space-between;
}

.packages__card {
    background-color: transparent;
    width: 33.333%;
    perspective: 1000px;
    padding: 20px;
}

.packages__card-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.packages__front-face,
.packages__back-face {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.packages__front-face {
    background-color: #fff;
    color: var(--black);
    background-size: cover;
    height: 480px;
    flex-direction: column;
    justify-content: space-around;
}

.packages__info {
    padding: 20px 50px;
    color: white;
    height: 50%;
    background-color: var(--blue-color);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.packages__info p {
    padding-top: 10px;
    font-weight: 200;
}

.packages__features {
    height: 50%;
    padding: 40px;
}

.packages__feature {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.packages__feature::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0%;
    background-color: #dddddd;
}

.packages__feature p {
    margin-left: 5px;
    padding: 7px;
}

.packages__back-face {
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    background-size: cover;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packages__back-face p {
    font-size: 12px;
    color: #b9b9b9;
}

.packages__back-face h2 {
    color: var(--blue-alt-color);
    padding: 0px 30px;
}

.packages__back-face__content {
    padding-bottom: 30px;
}

.packages__overlay {
    position: absolute;
    top: 0%;
    background-color: #00000062;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: 0px 0px 5px 1px #252525;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.packages__btn {
    background-color: var(--blue-alt-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.packages__btn:hover {
    background-color: #fff;
}


/* End Packages Section */


/* Start Footer Section */

.special-offers__contents {
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: var(--blue-color);
}

.special-offers__paragraphs p:first-child {
    color: var(--black);
    font-size: 60px;
}

.special-offers__icons {
    display: flex;
    justify-content: center;
}

.special-offers__icons a {
    width: 10%;
}

.special-offers__icons svg {
    padding: 10px;
    color: var(--blue-color);
    border: 1px solid;
    border-radius: 50%;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.special-offers__icons svg:hover {
    color: var(--black);
}

.footer__bottom {
    background-color: #2B2E35;
}

.footer__contents {
    color: #fff;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__content {
    width: 25%;
    padding: 20px;
    font-weight: 200;
}

.footer__content span {
    display: inline;
    color: var(--blue-color);
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.footer__content span:not(.info):hover {
    color: white;
}

.footer__links a {
    display: inline;
}

.link__title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.link__title span {
    position: relative;
}

.link__title span::before {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: white;
}


/* End Footer Section */


/* Start About Us */

section.aboutus {
    background-color: #fff;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Image/s-1.jpg);
    width: 100%;
    height: 500px;
    text-align: center;
    color: var(--blue-color);
    position: relative;
}

.header__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header__text h3 {
    font-size: 50px;
}

.header__text div a,
span {
    display: inline;
    color: white;
    font-size: 20px;
}

.header__text div a {
    color: var(--blue-color);
}

.header__text .header__text--padding {
    padding-top: 10px;
}

.aboutus__main {
    margin-top: 40px;
    align-items: center;
}

.main__Pic--galerial {
    animation-delay: 0.5s;
    position: relative;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main__pic {
    width: 60%;
}

.main__para {
    margin-left: 20px;
    margin-top: 20px;
    width: 50%;
}

.main__para--pic {
    width: 30%;
}

.main__para--first {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.main__para--pic {
    margin: 10px 0px 20px;
}

.secpart__icon {
    font-size: 50px;
}

.secpart__para {
    margin-bottom: 10px;
}

.main__para--secpart {
    display: flex;
    margin-bottom: 20px;
}

.container__secpart__para__last {
    margin-left: 30px;
}

.ourstaff {
    width: 100%;
    background-color: rgb(197, 195, 195);
    margin-top: 30px;
    text-align: center;
}

.ourstaff__para h3 {
    margin-bottom: 10px;
    font-size: 30px;
    margin-top: 20px;
    color: var(--blue-alt-color);
}

.ourstaff__para {
    padding-top: 1%;
}

.ourstaff__para p {
    color: white;
}

.ourstaff__contents {
    padding: 5px;
    background: white;
    margin: 5px;
}

.ourstaff__card--border {
    width: 25%;
    position: relative;
}

.ourstaff__card--Pic {
    overflow: hidden;
    width: 100%;
}

.ourstaff__card--name {
    background-color: #000;
    height: 142px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
}

.card__name--color {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.card__trainer {
    width: 25%;
    border-radius: 6px;
}

.card__content {
    padding: 5px;
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.card__disc h3,
span {
    font-weight: bold;
    font-size: 15px;
}

.trainer__overlay {
    position: absolute;
    top: 0;
    background-color: #20180b94;
    z-index: 1;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: var(--trans);
}

.card__content:hover .card__disc,
.card__content:hover .trainer__overlay {
    visibility: visible;
    opacity: 1;
}

.card__content:hover .card__disc {
    bottom: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
}


/* End About Us */


/* Start contact us */

section.contact-us {
    background-color: #f1f1f1;
}

.background__contact {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Image/slide01\ \(1\).jpg);
    background-size: 100%;
    text-align: center;
    padding: 10px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__contact {
    font-size: 30px;
}

.contact__content {
    width: 33.333%;
    font-size: 20px;
    padding: 20px 10px;
    text-align: center;
}

.contact__content a {
    display: inline;
}

.main-contact__content {
    color: #000;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px black;
    color: #000;
    padding: 15px;
}

.icon {
    color: var(--blue-alt-color);
    font-size: 60px;
}

.icon__main svg:hover {
    color: var(--black);
    transition: var(--trans);
}

.icons {
    font-size: 20px;
    color: var(--blue-alt-color);
}

.icons svg:hover {
    color: var(--black);
    transition: var(--trans);
}

.text-icon {
    padding: 20px 0;
    font-size: 18px;
}

.text-icon a {
    color: var(--black);
}

.text-icon a:hover {
    color: white;
    transition: var(--trans);
}

form {
    text-align: center;
    padding-bottom: 30px;
}

.input-massage {
    box-shadow: 0px 0px 6px 0px grey;
    width: 70%;
    padding: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.main-form {
    padding: 5px;
    font-size: larger;
    margin-bottom: 0px !important;
}

.for-n-p-nu {
    display: flex;
    justify-content: center;
}

.main__form {
    padding: 10px 10px;
    width: 100%;
}

.input {
    box-shadow: 0px 0px 6px 0px grey;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.input-sup {
    transition: var(--trans);
    padding: 20px 20px;
    text-align: center;
    font-size: 14px;
    background-color: var(--blue-alt-color);
    color: var(--black);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px 0px grey;
    cursor: pointer;
    font-weight: bold;
}

.input-sup:hover {
    color: white;
    background-color: var(--black);
}

.location {
    width: 100%;
}


/* End  contact us*/